.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.tag-button {
    background-color: var(--neutral-light);
    color: var(--secondary-color);
    border: 1px solid var(--neutral-mid);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.tag-button:hover,
.tag-button.active {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}

@media (max-width: 480px) {
  .tags-container {
    gap: 0.5rem;
  }
  .tag-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
}